  samba:
    image: "dperson/samba"
    container_name: samba
    restart: unless-stopped
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "./volumes:/iotvolumes"
    command: '-p -s "IOTVolumes;/iotvolumes;yes;no;no;all" -u "pi;homeauto1234"'
